# Copy this file to local.neon and adjust for your environment.
# local.neon is not committed to version control.

parameters:
	database:
		host: localhost
		dbname: nsdb
		user: nettestarter
		password: nettestarter123

	mailer:
		from: 'user@example.com'
		smtp:
			host: 'smtp.example.com'
			username: 'user@example.com'
			password: 'password'
			secure: 'ssl'
