parameters:
	mailer:
		from: 'user@example.com'
		smtp:
			host: 'smtp.example.com'
			username: 'user@example.com'
			password: 'password'
			secure: 'ssl'

nettrine.dbal:
	debug:
		panel: %debugMode%

	connections:
		default:
			host: localhost
			driver: pdo_mysql
			dbname: nsdb
			user: nettestarter
			password: "nettestarter123"
			charset:  UTF8MB4