{block content}
<div id="banner">
	<h1 n:block=title>Nette Starter</h1>
</div>

<div id="content">
	<p>
		{_strings.project_successfully_created|noescape}
	</p>

	<p>
		{_strings.based_on_nette|noescape}
	</p>

</div>
{/block}